/* Basic CSS reset */
/* Import Montserrat (400,700) from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  background-color: #eeeeee;
}

body {
  line-height: 1.5;
  font-family: 'Montserrat', system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  cursor: pointer;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #00234a;
}

a,
a:visited {
  color: inherit;
  text-decoration: none;
}

p {
  text-align: justify;
}

h2 {
  font-size: 2rem;
  color: #00234a;
  margin-bottom: 2rem;

  animation: fade-in linear both;
  animation-timeline: view(30% 0%);
}

h3 {
  font-size: 1.3rem;
  color: #00234a;
  margin-bottom: 1rem;
}

section {
  margin: 5rem auto;
}

nav {
  margin: 2rem auto;
  height: 3.75rem;
  /* 60px */
  width: 50rem;
  /* 800px */
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 30px;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  backdrop-filter: blur(5px);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, .3);
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 4rem;
}

nav ul li {
  color: #00234a;
  font-weight: 700;
  transition: 0.3s;
}

nav ul li:hover {
  color: #6dd1d4;

}

nav ul li img {
  width: 2rem;
  height: auto;
  padding: 0;
}


.hero {
  height: 100vh;
  width: 100%;
  background: linear-gradient(90deg, rgba(0, 35, 74, 0.5), rgba(0, 35, 74, 0), rgba(0, 0, 0, 0)), url('images/hero_3000x2000.webp') center/cover no-repeat;
  background-size: auto, 140%;
  background-position: center, bottom -220px left;
  position: sticky;
  top: 0;
  border-radius: 40px;
  border: 10px solid #eee;
  margin: 0;

  animation: hero linear;
  animation-timeline: scroll();
}

.pin {
  height: 300vh;
  position: relative;
}

@keyframes hero {
  from {
    background-position: center, bottom -220px left;
  }

  30% {
    background-position: center, bottom -220px right -370px;
  }

  100% {
    background-position: center, bottom -220px right -370px;
  }
}

.hero h1 {
  font-size: 3.5rem;
  color: #fff;
  width: 37.5rem;
  /* 600px */
  padding: 30vh 0 0 3vw;
  line-height: 1.3;

  animation: hero-text linear both;
  animation-timeline: scroll();
}

.hero h1 span {
  font-size: 1.2rem;
  color: #fff;
  display: block;
  font-weight: 400;
  margin-bottom: 1rem;
}

@keyframes hero-text {
  from {
    transform: translateY(0);
    opacity: 1;
  }

  10% {
    transform: translateY(-100px);
    opacity: 0;
  }

  20% {
    transform: translateY(-100px);
    opacity: 0;
  }
}

.hero p {
  color: #fff;
  width: 40.625rem;
  /* 650px */
  padding: 1rem 0 0 3vw;
  opacity: 1;
  transform: translateY(0);


  animation: hero-text2 linear both;
  animation-timeline: scroll();
}

@keyframes hero-text2 {

  0% {
    transform: translateY(0);
    opacity: 0;
  }

  15% {
    transform: translateY(-150px);
    opacity: 1;
  }

  20% {
    transform: translateY(-200px);
    opacity: 1;
  }
}

.hero-cta {
  margin-left: 2rem;
}

button {
  padding: 1rem 2rem;
  border-radius: 30px;
  color: #fff;
  font-weight: 700;
  margin: 1rem 0 0;

  border: 1px solid rgba(109, 209, 212, .5);

  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
  background-color: rgba(109, 209, 212, .3);
  backdrop-filter: blur(5px);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

button:hover {
  background-color: rgba(109, 209, 212, 1);
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.2);
  transform: translateX(-2px);
  color: #00234a;
}

.glass {
  border-radius: 20px;
  padding: 1rem;
  border: 1px solid rgba(255, 255, 255, .5);

  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
  background-color: rgba(255, 255, 255, .3);
  backdrop-filter: blur(2px);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.float {
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

.services-thumbnail {
  width: 64.375rem;
  /* 1030px */
  display: flex;
  justify-content: space-between;
  position: absolute;
  right: 1.25rem;
  /* 20px */
  bottom: 1.25rem;
  /* 20px */

  animation: services-thumbnail linear;
  animation-timeline: scroll();
}

.service-thumbnail-item {
  width: 18.75rem;
  /* 300px */
  height: 9.375rem;
  /* 150px */
  padding: 1rem 1.5rem;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  backdrop-filter: blur(5px);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
}

.service-thumbnail-item:nth-child(1) {
  width: 25rem;
  /* 400px */
}

.service-thumbnail-item h2 {
  font-size: 1rem;
  color: #fff;
  margin-bottom: 0.5rem;
}

.service-thumbnail-item img {
  width: 100%;
  height: 5rem;
  /* 80px */
  object-fit: cover;
  border-radius: 20px;
}

.main-services {
  width: 62.5rem;
  display: flex;
  flex-wrap: wrap;
}

.main-service-item {
  border-radius: 20px;
  padding: 2rem;
  margin-bottom: 1rem;

  animation: float-up linear both;
  animation-timeline: view(30% 0%);
}

.main-services .main-service-item:nth-child(2) {
  background: linear-gradient(rgba(0, 35, 74, 0.7), rgba(109, 209, 212, 0.5)), url("images/layup2_1000x563.jpg") center;
  background-size: cover;
  display: flex;
}

.main-services .main-service-item:nth-child(3) {
  width: calc(50% - 0.5rem);
  background: linear-gradient(rgba(109, 209, 212, 0.5), rgba(0, 35, 74, 0.7)), url("images/anchorage_1000x563.webp");
  background-size: cover;

  animation: float-up linear both;
  animation-timeline: view(70% 0%);
}

.main-services .main-service-item:nth-child(4) {
  width: calc(50% - 0.5rem);
  background: linear-gradient(rgba(109, 209, 212, 0.5), rgba(0, 35, 74, 0.7)), url("images/ship-chandling_1000x667.webp");
  background-size: cover;
  margin-left: auto;

  animation: float-up linear both;
  animation-timeline: view(0% 0%);
}


.main-service-item .desc {
  width: 40%;
  color: #fff;
}

.main-service-item h3,
.main-service-item p {
  color: #fff;
}

.main-service-item h4 {
  color: #00234a;
}

.main-service-item .container {
  width: 60%;
  display: flex;
  gap: 1rem;
  margin-left: 2rem;
}

.main-service-item .container .item {
  width: 33%;
}

.main-service-item .container .item ul li {
  font-size: .8rem;
  border-bottom: solid 1px #00234a;
  padding: .7rem 0;
}

.main-service-item .container .item ul li:last-child {
  border-bottom: none;
  padding-bottom: 0;
}

.chips {
  margin-bottom: 1rem;
}

.chips p.glass {
  padding: .5rem 1rem;
  display: inline-block;
  font-size: .8rem;
  margin: .2rem 0;
  color: #00234a;
}

.about-us {
  background: linear-gradient(180deg, rgba(0, 35, 74, .5)), url("images/wavy-pattern.png"), rgba(0, 35, 74, 1);
  background-size: cover;
  background-attachment: fixed;

  padding: 3rem 0;
  border-radius: 40px;
  border: 10px solid #eee;
}

.about-us .container {
  width: 62.5rem;
  margin: 0 auto;
  display: flex;
  gap: 2rem;
  align-items: center;
}

.about-us .container h2 {
  color: #fff;
  width: 30%;
  margin-bottom: 0;
}

.about-us .container .stats {
  display: flex;
  width: 70%;
  gap: 1rem;
}

.about-us .container .stats p {
  font-size: 1rem;
  font-weight: 700;
  color: #fff;
  text-align: left;
  width: 30%;
}

.about-us .container .stats p span {
  display: block;
  font-weight: 300;
  font-size: 0.8rem;
}

.about-us .container .stats p {
  animation: float-up linear both;
  animation-timeline: view(50% calc(10% + var(--i, 0) * 10%));
}

.about-us .container .stats p:nth-child(2) { --i: 1; }
.about-us .container .stats p:nth-child(3) { --i: 2; }
.about-us .container .stats p:nth-child(4) { --i: 3; }

.process {
  width: 62.5rem;
}

.process .container {
  width: 62.5rem;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 2rem 2rem 1rem 2rem;
  border-radius: 30px;
  border: solid 1px #6dd1d4;
  background: url("images/grid-0.webp");
  background-size: contain;
  background-position: center;

  animation: put-down linear both;
  animation-timeline: view(30% 0%);
}

.process h2 {
  text-align: center;
}

.process .container .item {
  width: 30%;
  position: relative;
}

.process .container .item h3 {
  font-size: 1rem;
}

@keyframes put-down {
  from {
    opacity: 0;
    transform: scale(1.15);
    box-shadow: 0 30px 30px rgba(0, 0, 0, 1);
  }

  50% {
    opacity: 1;
    transform: scale(1);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0);
  }

  100% {
    opacity: 1;
    transform: scale(1);
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  }
}

@keyframes float-up {
  from {
    opacity: 0;
    transform: translateY(50px);
  }

  50% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.location {
  border-radius: 40px;
  border: 10px solid #eee;
  padding: 3rem;
  background: url("images/brunei-bay_1500x755.png");
  background-size: cover;
}

.location h2,
.location p {
  color: #fff;
}

.location h2 {
  margin-bottom: 1rem;
}

.location .container:first-child > p {
  width: 30rem;

  animation: fade-in linear both;
  animation-timeline: view(30% 0%);
}

.location h2>span {
  font-size: 1rem;
  font-weight: 300;
  display: block;
}

.location .container {
  width: 62.5rem;
  margin: 0 auto;
}

.location .container:last-child {
  margin: 10rem auto 0;
  display: flex;
  gap: 2rem;
  background-color: rgba(255, 255, 255, .4);
  backdrop-filter: blur(5px);

  animation: float-up linear both;
  animation-timeline: view(40% 0%);
}

.location .container:last-child > p {
  font-size: 0.8rem;
  width: 20%;
  text-align: left;
  color: #00234a;
}

.location .container:last-child > p span {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
} 

.location .container:last-child img {
  width: 50px;
}

.usp-pin {
  height: 300vh;
  position: relative;
}

.usp {
  width: 62.5rem;
  height: 100vh;
  margin: 0 auto;
  padding: 6.25rem 0;
  overflow-y: hidden;
  position: sticky;
  top: 3rem;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  gap: 1rem;
}

.usp .half:first-child {
  width: calc(50% - .5rem);

  animation: usp-box1 linear both;
  animation-timeline: scroll(root block);
  animation-range: 0;
}

.usp .half:first-child .usp-item {
  background: linear-gradient(180deg, rgba(0, 35, 74, 0.5), rgba(0, 35, 74, 0), rgba(0, 0, 0, 0)), url("images/layup-pioneer_1000x420.webp");
  background-size: auto, cover;
  background-position: center, center;
  position: relative;
}

@keyframes usp-box1 {
  0% {
    width: 100%;
  }

  30% {
    width: 100%;
  }

  40% {
    width: calc(50% - .5rem);
  }

  100% {
    width: calc(50% - .5rem);
  }
}

.usp .usp-item {
  height: 25rem;
  border-radius: 20px;
  padding: 2rem;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

.usp .half:nth-child(2) {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  height: 25rem;
  justify-content: space-between;
  opacity: 1;

  animation: usp-box2 linear both;
  animation-timeline: scroll(root block);
  animation-range: 0;
}

@keyframes usp-box2 {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 0;
  }

  35% {
    opacity: 0;
  }

  40% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

.usp .half:nth-child(2) .usp-item {
  height: 12rem;
  color: #fff;
}

.usp .half:nth-child(2) .usp-item:first-child {
  width: 100%;
  margin-bottom: 1rem;
  background: url("images/anchorage_500x281.webp");
  background-size: cover;
  background-position: center;

}

.usp .half:nth-child(2) .usp-item:nth-child(2),
.usp .half:nth-child(2) .usp-item:nth-child(3) {
  width: calc(50% - .5rem);
  overflow: hidden;
}

.usp .half:nth-child(2) .usp-item:nth-child(2) {
  background: linear-gradient(to top, rgba(109, 209, 212, 0.7), rgba(109, 209, 212, 0)), #00234a;
}

.usp .half:nth-child(2) .usp-item:nth-child(2) img {
  width: 200px;
  min-width: 200px;
  margin: 1rem 0 0 -1rem;
  display: block;
}

.usp .half:nth-child(2) .usp-item:nth-child(3) {
  background: url("images/integrated-service_300x200.webp");
  background-size: cover;
  background-position: center;
}

.usp .half .usp-item h2 {
  font-size: 2rem;
  margin-bottom: .5rem;
  white-space: nowrap;
  color: #fff;
}

.usp .half .usp-item h3 {
  font-size: 1rem;
  white-space: nowrap;
  margin-bottom: .5rem;
}

.usp .half .usp-item p {
  opacity: 1;
  color: #fff;

  animation: usp-texts linear both;
  animation-timeline: scroll(root block);
}

@keyframes usp-texts {
  0% {
    opacity: 0;
  }

  52% {
    opacity: 0;
  }

  55% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

.usp .half:first-child .usp-item img {
  width: 100px;
  margin: 0 auto;
  cursor: pointer;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 10rem;

  animation: playbtn linear both;
  animation-timeline: scroll(root block);
}

@keyframes playbtn {
  0% {
    opacity: 1;
    display: block;
  }

  45% {
    opacity: 1;
    display: block;
  }

  55% {
    opacity: 0;
    display: none;
  }

  100% {
    opacity: 0;
    display: none;
  }
}

.usp .half .usp-item dialog {
  border: none;
  background: #fff;
  width: 800px;
  border-radius: 30px;
  margin: 8rem auto;
  box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.3);
}

.usp .half .usp-item dialog {
  background: rgba(0, 0, 0, 0.7);
}

#closeBtn {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 30px;
  height: 30px;
  background: #fff;
  border-radius: 30px;
  font-size: 2rem;
  line-height: 0;
  cursor: pointer;
}


.services-pin {
  height: 400vh;
  position: relative;
}

.services {
  background-color: #00234a;
  padding: 9rem 0 6.25rem;
  width: 100%;
  overflow: hidden;
  height: 100vh;
  position: sticky;
  top: 0;
}

.services video {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  opacity: .5;
}

.services h2 {
  font-size: 2rem;
  color: #fff;
  margin: 7vw 0 1rem;
}

.services-container {
  width: 300vw;
  margin: 1rem auto;
  padding-bottom: 1rem;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  gap: 1rem;

  animation: services-scroll linear both;
  animation-timeline: scroll(root block);
  animation-range: 650vh;
}

@keyframes services-scroll {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(-191vw);
  }

  100% {
    transform: translateX(-191vw);
  }
}

.services-container .service-item:first-child {
  width: 40rem;
  padding: 0 3rem 3rem 3vw;
  color: #fff;
  background-color: rgba(0, 0, 0, 0);
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}

.services-container .service-item {
  width: 20rem;
  height: 60vh;
  position: relative;
  color: #fff;
  padding: 1rem 1.5rem;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

.services-container .service-item .service-item-text {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 1rem 1rem 1.5rem 1rem;
  border-radius: 20px 20px 0 0;
  background: linear-gradient(to top, rgba(255, 255, 255, .1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(5px);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  transform: translateY(24vh);
  transition: ease-in .2s;
}

.services-container .service-item:hover .service-item-text,
.services-container .service-item .service-item-text:hover {
  transform: translateY(0);
}

.services h3 {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.services p {
  margin-bottom: 1rem;
}

.services-container .service-item button {
  width: 100%;
  height: 2.5rem;
  border-radius: 20px;
  border: none;
}

.services-container .service-item img {
  width: 20rem;
  height: 60vh;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.benefits {
  width: 100%;
}

.benefits h2 {
  font-size: 2rem;
  color: #00234a;
  text-align: center;
  margin-bottom: 3rem;

  animation: fade-in linear both;
  animation-timeline: view(30% 0%);
}

.benefits h2 span {
  display: block;
  font-weight: 300;
  font-size: 1rem;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}

.benefits .container {
  width: 62.5rem;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.benefits .container .half {
  width: calc(50% - 1rem);
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.benefits .container .item {
  width: 50%;
  padding: 1rem 1rem 1rem 0;

  animation: fade-in linear both;
  animation-timeline: view(60% 20%);
}

.benefits .container .item img {
  width: 50px;
  display: inline-block;
}

.benefits .container .item h3 {
  font-size: 1rem;
  width: 70%;
  padding: 0 0 0 .5rem;
  display: inline-block;
  margin-bottom: .5rem;
  transform: translateY(-7px);
}

.benefits .container .item p {
  font-size: .8rem;
  text-align: left;
}

.benefits .container .half>img {
  width: 100%;
  height: 30rem;
  border-radius: 20px;
  object-fit: cover;
  flex: 1;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);

  animation: fade-from-right linear both;
  animation-timeline: view(20% 0);
}

@keyframes fade-from-right {
  from {
    opacity: 0;
    transform: translateX(4rem);
  }

  50% {
    opacity: 1;
    transform: translateX(0);
  }
}

.feedback {
  overflow: clip;
  padding: 0 0 1rem;
  position: relative;

  border-radius: 40px;
  border: 10px solid #eee;
}

.feedback h2 {
  color: #00234a;
  text-align: center;
  margin-bottom: 3rem;
}

.feedback .row {
  width: 160rem;
  height: auto;
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
  position: relative;
}

.feedback::before {
  content: "\201C";
  font-size: 20rem;
  position: absolute;
  top: -2rem;
  left: 25%;
  transform: translateX(-50%);
  color: #00234a;
  z-index: -1;
}

.feedback::after {
  content: "\201D";
  font-size: 20rem;
  position: absolute;
  top: 22rem;
  left: 75%;
  transform: translateX(-50%);
  color: #00234a;
  z-index: -1;
}

.feedback .row:nth-child(2) {
  animation: slide-left linear both;
  animation-timeline: view(-10% -30%);
}

@keyframes slide-left {
  from {
    transform: translateX(-90rem);
  }

  to {
    transform: translateX(0);
  }
}

.feedback .row:nth-child(3) {

  animation: slide-right linear both;
  animation-timeline: view(-10% -30%);
}

@keyframes slide-right {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-80rem);
  }
}

.feedback .row .feedback-item {
  width: 30rem;
  height: 13rem;
  padding: 1.5rem;
  position: relative;
}

.feedback-item h3 {
  font-size: 1rem;
  position: absolute;
  bottom: 1rem;
}

.feedback-item p {
  font-style: italic;
}

.feedback-item h3 span {
  font-weight: 300;
  font-size: .8rem;
  display: block;
}

.faq {
  width: 62.5rem;
  margin: 0 auto;
}

.faq h2 {
  margin-bottom: 0.5rem;
}

.faq .container  {
  margin-top: 2rem;
}

.faq .container details {
  margin-bottom: 0.5rem;
  transition: 0.3s;
  cursor: help;
}

.cta {
  width: 62.5rem;
  padding: 2rem;
  background: linear-gradient(90deg, rgba(0, 35, 74, 0.7), rgba(0, 35, 74, 0)), url("images/wavy-pattern.png"), url("images/hero_1920x1280.webp");
  background-size: cover, cover, 150%;
  background-position: center, center, left ;
  border-radius: 30px;
  
  animation: float-up linear both;
  animation-timeline: view(30% 0%);
}

.cta h2, .cta p {
  color: #fff;
  width: 40rem;
  margin: 0.5rem 0;
}

.cta button {
  width: 20rem;
}

footer {
  background-color: #00234a;
  border-radius: 40px;
  border: 10px solid #eee;
  padding: 3rem;
}

footer .container {
  display: flex;
  flex-wrap: wrap;
  width: 62.5rem;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
}

footer .container img.logo {
  width: 20rem;
  height: auto;
}

footer .container .address {
  display: flex;
  gap: 2rem;
}

footer .container .address .item {
  color: #fff;
  font-size: 0.8rem;
}

footer .container .address .item h3 {
  color: #fff;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

footer .container .address .item p {
  text-align: left;
}

footer .container > p {
  width: 100%;
  margin: 3rem 0 0;
  text-align: center;
  color: #fff;
  font-size: .8rem;
  padding: 2rem 0 0;
}